{% extends "tem_no_sidebar.html" %}
{% load static %}

{% block title %}システム設定{% endblock %}

{% block page-title %}<i class="fa fa-cogs text-white"></i>&nbsp;&nbsp;システム設定{% endblock %}

{% block content %}
<section class="content">
  <!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-md-12" data-select2-id="14">
          <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false">ダイアモンドユーザー管理</a></li>
              <li><a href="#tab_2" data-toggle="tab" aria-expanded="false">iPhone機種設定</a></li>
              <li><a href="#tab_3" data-toggle="tab" aria-expanded="false">取引日設定</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                  <table id="diamondUserList" class="display" style="width:100%">
                    <thead>
                      <tr>
                        <th>口座番号</th>
                        <th>氏名・法人名</th>
                        <th>生年月日・設立年月日</th>
                        <th>作成日時</th>
                        <th>更新日時</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tab-pane" id="tab_2">
                  <table id="ipadipodList" class="display" style="width:100%">
                    <thead>
                      <tr>
                        <th>内部名</th>
                        <th>一般名</th>
                        <th>表示名</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tab-pane" id="tab_3">
                  <table id="masterDateList" class="display" style="width:100%">
                    <tr>
                      <th>取引日</th>
                      <th>開始時間</th>
                      <th>終了時間</th>
                      <th>備考</th>
                    </tr>
                  </thead>
                  </table>
                </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
<!-- /.box -->
</section>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
var iphoneListtable;
var masterdateListtable;
var diamondUserList;

function page_ready() {
  var iphone_columns = [
    {
      "title":"内部名",
      "data": "internal_name",
      "defaultContent": ""
    },
    {
      "title":"一般名",
      "data": "model_name",
      "defaultContent": ""
    },
    {
      "title":"表示名",
      "data": "disp_name",
      "defaultContent": ""
    }
  ];
  clear_datatables('#ipadipodList');
  var iphone_options = {};
  iphone_options.columns = iphone_columns;
  iphone_options.buttons = [
    {
        text: 'Add',
        name: 'add'
    },
    {
        extend: 'selected',
        text: 'Edit',
        name: 'edit'
    },
    {
        extend: 'selected',
        text: 'Delete',
        name: 'delete'
    },
    {
        text: 'Refresh',
        name: 'refresh'
    }];
  iphoneListtable = createSettingList('iphone', '#ipadipodList', iphone_options);
  var masterdate_columns = [
    {
      "title":"取引日",
      "data": "trade_dt",
      "datetimepicker": { timepicker: false, format : "Y/m/d"}
    },
    {
      "title":"開始時間",
      "data": "start_dt",
      "datetimepicker": { timepicker: false, dateFormat : "yyyy/mm/dd", timeFormat: "HH:mm", minView:0, todayBtn: 1}
    },
    {
      "title":"終了時間",
      "data": "end_dt",
      "datetimepicker": { timepicker: false, dateFormat : "yyyy/mm/dd", timeFormat: "HH:mm", minView:0, todayBtn: 1}
    },
    {
      "title":"備考",
      "data": "bikou",
      "defaultContent": ""
    }
  ];
  clear_datatables('#masterDateList');
  var masterdate_options = {};
  masterdate_options.columns = masterdate_columns;
  masterdate_options.buttons = [
    {
        text: 'Add',
        name: 'add'
    },
    {
        extend: 'selected',
        text: 'Edit',
        name: 'edit'
    },
    {
        extend: 'selected',
        text: 'Delete',
        name: 'delete'
    },
    {
        text: 'Refresh',
        name: 'refresh'
    }];
  masterdateListtable = createSettingList('masterdate', '#masterDateList', masterdate_options);
  var diamond_columns = [
    {
      "title":"口座番号",
      "data": "client_id",
      "defaultContent": "",
      "render": function(data, type, row, meta){
        if(type === 'display'){
          data = '<a href="javascript:void(0);" onclick="dispProfile(\'' + data + '\', null); return false;">' + data + '</a>';
        }
        return data;
      }
    },
    {
      "title":"氏名・法人名",
      "data": "name",
      "defaultContent": "",
      "editDisplayFlag": false
    },
    {
      "title":"生年月日・設立年月日",
      "data": "birthdate",
      "datetimepicker": { timepicker: false, format : "Y/m/d"},
      "editDisplayFlag": false
    },
    {
      "title":"作成日時",
      "data": "create_dt",
      "datetimepicker": { timepicker: false, format : "Y/m/d", timeFormat: "HH:mm", minView:0, todayBtn: 1},
      "editDisplayFlag": false
    },
    {
      "title":"更新日時",
      "data": "update_dt",
      "datetimepicker": { timepicker: false, format : "Y/m/d", timeFormat: "HH:mm", minView:0, todayBtn: 1},
      "editDisplayFlag": false
    }
  ];
  clear_datatables('#diamondUserList');
  var diamondUser_options = {};
  diamondUser_options.columns = diamond_columns;
  diamondUser_options.buttons = [
    {
        text: '一括登録...',
        name: 'import'
    },
    {
        text: '追加',
        name: 'add'
    },
    {
        extend: 'selected',
        text: '編集',
        name: 'edit'
    },
    {
        extend: 'selected',
        text: '削除',
        name: 'delete'
    }];
  diamondUserList = createSettingList('diamond_user', '#diamondUserList', diamondUser_options);
}
function dispProfile(client_id) {
  var newWin = window.open_sub_window(gethostwebname() + "/user/{0}".format(client_id), "_blank");
}
</script>
{% endblock scripts %}