{% extends "tem_no_sidebar.html" %}

{% block title %}お客様管理{% endblock %}

{% block page-title %}お客様管理{% endblock %}

{% block css %}
{{ block.super }}
<style>
.modal-content {
  background-color: #F5FFFA;
}
.modal-dialog {
  width: 700px
}
</style>
{% endblock css %}
{% block content-header %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="box box-info">
      <div class="box-body table-responsive">
        <table id="customer_list" class="display stripe nowrap">
          <thead>
          </thead>
        </table>
      </div>
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<div class="modal fade" id="modal-alert" style="display: none;z-index: 99999">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p><div id="error_message"></div></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-center" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="customer_register">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" >登録</h4>
      </div>
      <div class="modal-body">          
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>お客様名称</label>
              <input type="text" id="name" class="form-control" placeholder="お客様名称">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>顧客区分</label>
              <div class="radio">
                <label>
                  <input type="radio" name="partener" id="optionsRadios1" value="1" checked="">
                  お客様
                </label>
                <label>
                  <input type="radio" name="partener" id="optionsRadios2" value="0">
                  BP
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>代表者</label>
              <input type="text" id="representative" class="form-control" placeholder="代表者">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>電話番号</label>
              <input type="number" id="tel" class="form-control" placeholder="電話番号">
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label>Email</label>
              <input type="text" id="email" class="form-control" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label>駅</label>
              <input type="text" id="station" class="form-control" placeholder="駅">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>郵便番号</label>
              <input type="text" id="zip" class="form-control" placeholder="郵便番号">
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label>住所</label>
              <input type="text" id="address" class="form-control" placeholder="市町郡街">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>プロジェクト</label>
              <select id="project_id" class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder="Select a project" style="width: 100%;" data-select2-id="7" tabindex="-1" aria-hidden="true">
                <option data-select2-id="1">プロジェクト１</option>
                <option data-select2-id="3">プロジェクト３</option>
                <option data-select2-id="4">プロジェクト４</option>
                <option data-select2-id="5">プロジェクト５</option>
                <option data-select2-id="6">プロジェクト６</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">	
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <a href="#" onclick="add_customer();" class="btn btn-primary">登録</a>
      </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>

  function page_ready() {
    $('.select2').select2()
    do_search()
    
  }

  var _tbl_customer_list_ = null;
  
  function do_search() {

      if ( $.fn.DataTable.isDataTable('#customer_list') ) {
        $('#customer_list').DataTable().destroy();
      }
      $('#customer_list').empty();

      $('#customer_list').html('<tr><td class="text-info text-center"><h1>Loading...</h1></td></tr>');
      get_api("api/customer/list").post(customers => {
          $('#no_data_message').hide();
          $('#customer_list').empty();
          var disp_columns = [
              {
                "title":"id",
                "data": "id",
                "visible": false,
                "searchable": false
              },
              {
                "title":"お客様名",
                "data": "name",
                "width": "20px",
                "render": function(data, type, row, meta){
                      if(data) {
                        data = '<a href="javascript:void(0);" onclick="dispProfile(\'' + data + '\', null); return false;">' + data +'</a>';
                      }
                      return data;
                }
              },
              {
                "title":"お客様名区分",
                "data": "partener",
                "width": "20px",
                "render": function(data, type, row, meta){
                  if(data == "1") {
                    return "bp";
                  } else {
                    return "お客様";
                  }
                }
              },
              {
                "title":"電話番号",
                "data": "tel_no",
                "width": "20px"
              },
              {
                "title":"Email",
                "data": "email",
                "width": "30px",
              },
              {
                "title":"代表取締役",
                "data": "representative",
                "width": "50px"
              },
              {
                "title":"郵便番号",
                "data": "zip"
              },
              {
                "title":"住所",
                "data": "address"
              },
              {
                "title":"駅",
                "data": "station"
              }
          ];
          _tbl_customer_list_ = $('#customer_list').DataTable({
            data: customers,
            columns: disp_columns,
            // fixedColumns:{
            //   leftColumns: 5
            // },
            dom:'Bfrtip',
            autoWidth:true,
            scrollX: true,
            scrollY: '680px',
            paging:true,
            // pageLength:200,
            lengthChange:true,
            processing:true,
            pageLength : 50,
            buttons: [
              {
                extend: 'pdfHtml5',
                text: 'pdf',
                customize: function ( doc ) {
                  doc.defaultStyle.font= 'GenShin';
                }
              },
              {
                  text: 'add',
                  action: function ( e, dt, node, config ) {
                    $('#customer_register').modal({
                        show: true
                    })
                  }
              }, 
              {
                  text: 'edit',
                  action: function ( e, dt, node, config ) {
                    do_edit();
                  }
              }, 
              {
                  text: 'delete',
                  action: function ( e, dt, node, config ) {
                    do_delete();
                  }
              }, 
              'excel'
            ],
            autoWidth:false
          });
          
        $('#customer_list tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );
      }, err => {
        $('#customer_list').html('<tr><td class="text-info text-center"><h1>{0}</h1></td></tr>'.format(err));
      });
  }

  function add_customer() {
    // お客様名称
    var customer_name = $("#name").val();
    // 顧客区分
    var partener = $('input[name=partener]:checked').val();
    // 代表者
    var representative = $("#representative").val();
    // 電話番号
    var tel = $("#tel").val();
    // Email
    var email = $("#email").val();
    // 駅
    var station = $("#station").val();
    // 郵便番号
    var zip = $("#zip").val();
    // 住所
    var address = $("#address").val();
    // プロジェクト
    var project = $("#project_id").val();
    if(is_empty(customer_name) || is_empty(partener) || is_empty(representative) || is_empty(tel) ||
    is_empty(email) || is_empty(station) || is_empty(zip) || is_empty(address)) {
      // alert("未入力項目があります。");
      $("#error_message").text("未入力項目があります。")
      $("#modal-alert").modal('show')
      return
    }
    var post_datas = {
      "customer_name":customer_name,
      "partener":partener,
      "representative":representative,
      "tel":tel,
      "email":email,
      "station":station,
      "zip":zip,
      "address":address,
      "project":project
    }
    
    
    get_axios().post("api/customer/insert", {
        headers: {"X-CSRFToken": csrfToken},
        data: post_datas
      }).then(response => {
        if(response.data.exists_flag) {
          $("#error_message").text("重複登録できません。")
          $("#modal-alert").modal('show')
          // alert("重複登録できません。")
          return;
        }
        $('#customer_register').modal('hide')
        do_search();
    }).catch(err => {
      hideLoading();
      alert(err)
    })
  }

  function do_edit() {
    var selected = _tbl_customer_list_.rows('.selected').data()
    if(selected && selected.length == 0) {
      $("#error_message").text("更新お客様を選択してください。")
      $("#modal-alert").modal('show')
      return;
    }
    if(selected && selected.length > 1) {
      $("#error_message").text("1件お客様選択しかない。")
      $("#modal-alert").modal('show')
      return;
    }
    $('#customer_register').modal('show')
    
    // お客様名
    let id = selected[0].id;
    let post_datas = {
      id:id
    }
    get_axios().post("api/customer/info", {
        headers: {"X-CSRFToken": csrfToken},
        data: post_datas
      }).then(response => {
        if(response.data.exists_flag) {
          $("#error_message").text("重複登録できません。")
          $("#modal-alert").modal('show')
          return;
        }
        $('#customer_register').modal('hide')
        do_search();
    }).catch(err => {
      hideLoading();
      alert(err)
    })

  }

  function do_delete() {
    
    var selected = _tbl_customer_list_.rows('.selected').data()
    if(selected && selected.length == 0) {
      $("#error_message").text("削除お客様を選択してください。")
      $("#modal-alert").modal('show')
      return;
    }
    let post_datas = [];
    _.forEach(selected, function(data) {
      post_datas.push(data.id)
    });
    get_axios().post("api/customer/delete", {
        headers: {"X-CSRFToken": csrfToken},
        data: post_datas
      }).then(response => {
        showLoading();
        do_search();
    }).catch(err => {
      hideLoading();
      alert(err)
    })
  }
 
  function is_empty(s) {
    if(s == null || "" == s) {
      return true;
    }
    return false;
  }
  
</script>
{% endblock %}
