*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
env/
venv/*
.vscode/
prototype/
static_collected/
vscode.bat
*.pyc
/app/__pycache__
/apps/__pycache__
/app/models/__pycache__
/app/views/__pycache__
/.VSCodeCounter/details.md
/.VSCodeCounter/results.csv
/.VSCodeCounter/results.md
/.VSCodeCounter/results.txt
