{% extends "tem_no_sidebar.html" %}

{% block title %}社員管理{% endblock %}

{% block page-title %}社員管理{% endblock %}

{% block css %}
{{ block.super }}
<style>
.modal-content {
  background-color: #F5FFFA;
}
.modal-dialog {
  width: 1000px
}
</style>
{% endblock css %}
{% block content-header %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="box box-info">
      <div class="box-body table-responsive">
        <table id="employee_list" class="display stripe nowrap">
          <thead>
          </thead>
        </table>
      </div>
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>

<div class="modal fade" id="modal-alert" style="display: none;z-index: 99999">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p><div id="error_message"></div></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-center" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="emp_register">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">登録</h4>
      </div>
      <div class="modal-body">          
        <div class="row">
          <div class="col-md-3">
            <div class="form-group required">
              <label class="control-label text-primary">社員番号</label>
              <input type="text" id="emp_id" class="form-control" placeholder="社員番号" maxlength="10">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group required">
              <label class="control-label text-primary">職位</label>
              <select class="form-control" id="position">
                <option value="1">一般社員</option>
                <option value="2">営業担当</option>
                <option value="3">部長</option>
                <option value="4">取締役</option>
                <option value="5">社長</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group required">
              <label class="control-label text-primary">部門</label>
              <select class="form-control" id="department_id">
                  {% for data in depart_datas %}
                    <option value="{{data.id}}">
                        {{data.name}}
                    </option>
                  {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group required">
              <label class="control-label text-primary">社員種別</label>
              <select class="form-control" id="emp_type">
                <option value="1">正社員</option>
                <option value="2">契約社員</option>
                <option value="3">BP</option>
                <option value="4">個人事業主</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group required">
              <label class="control-label text-primary">姓</label>
              <input type="text" id="first_name" class="form-control" placeholder="姓" maxlength="15">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group required">
              <label class="control-label text-primary">名</label>
              <input type="text" id="last_name" class="form-control" placeholder="名" maxlength="15">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group required">
              <label class="control-label text-primary">姓(カナ)</label>
              <input type="text" id="first_name_kana" class="form-control" placeholder="姓(カナ" maxlength="15">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group required">
              <label class="control-label text-primary">名(カナ</label>
              <input type="text" id="last_name_kana" class="form-control" placeholder="名(カナ" maxlength="15">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group required">
              <label class="control-label text-primary">性別</label>
              <div class="radio">
                <label>
                  <input type="radio" name="sex" id="optionsRadios1" value="1" checked="">
                  男性
                </label>
                <label>
                  <input type="radio" name="sex" id="optionsRadios2" value="0">
                  女性
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>生年月日</label>
              <input type="date" id="birthday" class="form-control" placeholder="生年月日">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>電話番号</label>
              <input type="number" id="tel" class="form-control" placeholder="電話番号" maxlength="15">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>所属営業担当</label>
              <select class="form-control" id="sales_id">
                <option value="1">営業担当１</option>
                <option value="2">営業担当２</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="form-group">
              <label>Email</label>
              <input type="text" id="email" class="form-control" placeholder="Email" maxlength="30">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>駅</label>
              <input type="text" id="station" class="form-control" placeholder="駅" maxlength="20">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label>郵便番号</label>
              <input type="text" id="zip" class="form-control" placeholder="郵便番号" maxlength="7">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>都道府県</label>
              <select class="form-control" id="address1">
                <option value="0">東京都</option>
                <option value="1">千葉県</option>
                <option value="2">埼玉県</option>
                <option value="3">神奈川県</option>
              </select>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label>市町郡街</label>
              <input type="text" id="address2" class="form-control" placeholder="市町郡街" maxlength="50">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>在留カード番号</label>
              <input type="text" id="residence_no" class="form-control" placeholder="在留カード番号" maxlength="15">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>日本語能力</label>
              <select class="form-control" id="japanese_level">
                <option value="1">1級流暢</option>
                <option value="2">1級</option>
                <option value="3">2級</option>
                <option value="4">3級</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>仕事経験</label>
              <input type="text" id="start_work_date" class="form-control" placeholder="仕事経験">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group required">
              <label class="control-label text-primary">入社日付</label>
              <input type="date" id="entry_date" class="form-control" placeholder="入社日付">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>離任日付</label>
              <input type="date" id="quit_date" class="form-control" placeholder="離任日付">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div class="form-group">
                <label>給料</label>
                <input type="number" id="salary" class="form-control" placeholder="給料">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div class="form-group">
                <label>交通費</label>
                <input type="number" id="transport_cost" class="form-control" placeholder="交通費">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>プロジェクト</label>
              <select class="form-control" id="project_id">
                {% for data in project_datas %}
                  <option value="{{data.id}}">
                      {{data.name}}
                  </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>単価(万円)</label>
              <input type="number" id="price" class="form-control" placeholder="給料">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>ステータス</label>
              <select class="form-control" id="status">
                <option value="1">稼働中</option>
                <option value="2">待機中</option>
                <option value="3">離任</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>プロジェクト予定終了日</label>
              <input type="date" id="project_end_plan_date" class="form-control" placeholder="プロジェクト予定終了日">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">	
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <a href="#" class="btn btn-primary" onclick="add_employee();" id="action">登録</a>
      </div>
  </div>
</div>
</div>



<div class="modal fade" id="seisan_register">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="seisan_title">登録</h4>
      </div>
      <div class="modal-body">          
        <div class="row">
          <div class="col-md-12">
          <div class="form-group">
            <label>社員番号</label>
            <select class="form-control" id="seisan_emp_id">
                {% for data in seisan_datas_emp %}
                  <option value="{{data.emp_id}}">
                      {{data.first_name}} &nbsp;{{data.first_name}}
                  </option>
                {% endfor %}
            </select>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>精算年月</label>
              <input type="date" id="seisan_ym" class="form-control" placeholder="精算年月">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="form-group">
                <label>精算時間</label>
                <input type="number" id="seisan_time" class="form-control" placeholder="精算時間">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">	
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <a href="#" class="btn btn-primary" onclick="add_seisan();" id="action">登録</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>

  function page_ready() {
    do_search()
  }

  var _tbl_employee_list_ = null;
  
  function do_search() {

      if ( $.fn.DataTable.isDataTable('#employee_list') ) {
        $('#employee_list').DataTable().destroy();
      }
      $('#employee_list').empty();

      $('#employee_list').html('<tr><td class="text-info text-center"><h1>Loading...</h1></td></tr>');
      get_api("api/employee/list").post(employees => {
        $('#no_data_message').hide();
        $('#employee_list').empty();
        var disp_columns = [
            {
              "title":"社員番号",
              "data": "emp_id",
              "render": function(data, type, row, meta){
                    if(data) {
                      data = '<a href="javascript:void(0);" onclick="dispProfile(\'' + data + '\', null); return false;">' + data +'</a>';
                    }
                    return data;
              }
            },
            {
              "title":"氏名",
              "data": "name",
              "render": function(data, type, row, meta){
                    return row.first_name + " " + row.last_name;
              }
            },
            {
              "title":"生年月日",
              "data": "birthday",
            },
            {
              "title":"性別",
              "data": "sex",
              "render": function(data, type, row, meta){
                if(data == "1") {
                  return "男"
                } else {
                  return "女"
                }
              }
            },
            {
              "title":"メールアドレス",
              "data": "email",
            },
            {
              "title":"電話番号",
              "data": "tel"
            },
            {
              "title":"日本語能力",
              "data": "japanese_level"
            },
            {
              "title":"単価(万円)",
              "data": "price"
            },
            {
              "title":"給料(万円)",
              "data": "salary"
            },
            {
              "title":"交通費",
              "data": "transport_cost"
            },
            {
              "title":"プロジェクト名",
              "data": "name"
            },
            {
              "title":"プロジェクト予定終了日",
              "data": "project_end_plan_date"
            }
        ];
        _tbl_employee_list_ = $('#employee_list').DataTable({
          data: employees,
          columns: disp_columns,
          dom:'Bfrtip',
          autoWidth:false,
          scrollX: true,
          scrollY: '680px',
          paging:true,
          // pageLength:200,
          lengthChange:true,
          processing:true,
          pageLength : 50,
          buttons: [
            {
              extend: 'pdfHtml5',
              text: 'pdf',
              pageSize: 'A4',
              customize: function ( doc ) {
                doc.defaultStyle.font= 'GenShin';
              }
            },
            {
                text: 'add',
                action: function ( e, dt, node, config ) {
                  // $('#modal').fadeTo(200,1);
                  $('#emp_register').modal({
                      show: true
                  })
                }
            }, 
            {
                text: 'edit',
                action: function ( e, dt, node, config ) {
                  show_edit();
                }
            }, 
            {
                text: 'delete',
                action: function ( e, dt, node, config ) {
                  do_delete();
                }
            }, 
            {
                text: '精算登録',
                action: function ( e, dt, node, config ) {
                  $('#seisan_register').modal({
                      show: true
                  })
                }
            }, 
          ],
          autoWidth:false
        });
        $('#employee_list tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );
      }, err => {
        $('#employee_list').html('<tr><td class="text-info text-center"><h1>{0}</h1></td></tr>'.format(err));
      });
  }

  function add_employee() {
    // 社員番号
    var emp_id = $("#emp_id").val();
    // 部門番号
    var department_id = $("#department_id").val();
    // プロジェクト番号
    var project_id = $("#project_id").val();
    // 名前１
    var first_name = $("#first_name").val();
    // 名前２
    var last_name = $("#last_name").val();
    // カナ１
    var first_name_kana = $("#first_name_kana").val();
    // カナ２
    var last_name_kana = $("#last_name_kana").val();
    // 性別
    var sex = $('input[name=sex]:checked').val();
    // 生年月日
    var birthday = $("#birthday").val();
    // 郵便番号
    var zip = $("#zip").val();
    // 住所1
    var address1 = $("#address1").val();
    // 住所2
    var address2 = $("#address2").val();
    // email
    var email = $("#email").val();
    // 在留カード番号
    var residence_no = $("#residence_no").val();
    // 電話番号
    var tel = $("#tel").val();
    // 入社日付
    var entry_date = $("#entry_date").val();
    // 離任日付
    var quit_date = $("#quit_date").val();
    // 仕事経験
    var start_work_date = $("#start_work_date").val();
    // 日本語能力
    var japanese_level = $("#japanese_level").val();
    // 社員種別
    var emp_type = $("#emp_type").val();
    // 給料
    var salary = $("#salary").val();
    // 単価
    var price = $("#price").val();
    // 交通費
    var transport_cost = $("#transport_cost").val();
    // status
    var status = $("#status").val();
    // 職位
    var position = $("#position").val();
    // 営業担当ID
    var sales_id = $("#sales_id").val();
    // プロジェクト予定終了日
    var project_end_plan_date = $("#project_end_plan_date").val();
    // 駅
    var station = $("#station").val();
    // tel
    var tel = $("#tel").val();
    var id = $("#id").val();
    $("#action").text("登録");
    $(".modal-title").text("登録");
    if((is_empty(emp_id) || is_empty(first_name) || is_empty(last_name) ||
    is_empty(first_name_kana)) || is_empty(last_name_kana) || is_empty(entry_date)) {
      $("#error_message").text("未入力項目があります。")
      $("#modal-alert").modal('show')
      return
    }
    var post_datas = {
      "emp_id":emp_id,
      "department_id":department_id,
      "project_id":project_id,
      "first_name":first_name,
      "last_name":last_name,
      "first_name_kana":first_name_kana,
      "last_name_kana":last_name_kana,
      "sex":sex,
      "birthday":birthday,
      "zip":zip,
      "address1":address1,
      "address2":address2,
      "email":email,
      "residence_no":residence_no,
      "entry_date":entry_date,
      "quit_date":quit_date,
      "start_work_date":start_work_date,
      "japanese_level":japanese_level,
      "emp_type":emp_type,
      "salary":salary,
      "price":price,
      "transport_cost":transport_cost,
      "status":status,
      "station":station,
      "position":position,
      "sales_id":sales_id,
      "project_end_plan_date":project_end_plan_date,
      "tel":tel
    }
    
    get_axios().post("api/employee/insert", {
        headers: {"X-CSRFToken": csrfToken},
        data: post_datas
      }).then(response => {
        if(response.data.exists_flag) {
          $("#error_message").text("重複登録できません。")
          $("#modal-alert").modal('show')
          return;
        }
        $('#emp_register').modal('hide')
        do_search();
    }).catch(err => {
      hideLoading();
      alert(err)
    })
  }

  function show_edit() {
    var selected = _tbl_employee_list_.rows('.selected').data()
    if(selected && selected.length == 0) {
      $("#error_message").text("更新社員を選択してください。")
      $("#modal-alert").modal('show')
      return;
    }
    if(selected && selected.length > 1) {
      $("#error_message").text("1名社員を選択しかない。")
      $("#modal-alert").modal('show')
      return;
    }
    $('#emp_register').modal('show')
    
    // 社員ID
    let emp_id = selected[0].emp_id;
    let post_datas = {
      emp_id:emp_id
    }
    get_axios().post("api/employee/info", {
        headers: {"X-CSRFToken": csrfToken},
        data: post_datas
      }).then(response => {
        if(response.data.length > 0) {
          let employee_info = response.data[0]
          // 社員ID
          $("#emp_id").val(employee_info.emp_id);
          // 部門ID
          $("#department_id").val(employee_info.department_id);
          // 性別
          $("input[name=seisan][value=" + employee_info.seisan + "]").attr('checked', 'checked');
          // project_id
          $("#project_id").val(employee_info.project_id);
          // first_name
          $("#first_name").val(employee_info.first_name);
          // last_name
          $("#last_name").val(employee_info.last_name);
          // first_name_kana
          $("#first_name_kana").val(employee_info.first_name_kana);
          // last_name_kana
          $("#last_name_kana").val(employee_info.last_name_kana);
          // sex
          $("#sex").val(employee_info.sex);
          // birthday
          $("#birthday").val(employee_info.birthday);
          // zip
          $("#zip").val(employee_info.zip);
          // address1
          $("#address1").val(employee_info.address1);
          // address2
          $("#address2").val(employee_info.address2);
          // email
          $("#email").val(employee_info.email);
          // residence_no
          $("#residence_no").val(employee_info.residence_no);
          // zip
          $("#tel").val(employee_info.tel);
          // entry_date
          $("#entry_date").val(employee_info.entry_date);
          // quit_date
          $("#quit_date").val(employee_info.quit_date);
          // start_work_date
          $("#start_work_date").val(employee_info.start_work_date);
          // japanese_level
          $("#japanese_level").val(employee_info.japanese_level);
          // emp_type
          $("#emp_type").val(employee_info.emp_type);
          // salary
          $("#salary").val(employee_info.salary);
          // price
          $("#price").val(employee_info.price);
          // transport_cost
          $("#transport_cost").val(employee_info.transport_cost);
          // status
          $("#status").val(employee_info.status);
          // station
          $("#station").val(employee_info.station);
          // position
          $("#position").val(employee_info.position);
          // sales_id
          $("#sales_id").val(employee_info.sales_id);
          // project_end_plan_date
          $("#project_end_plan_date").val(employee_info.project_end_plan_date);
          // delete_flag
          $("#delete_flag").val(employee_info.delete_flag);
          $("#action").text("更新");
          $(".modal-title").text("更新");
        }
    }).catch(err => {
      hideLoading();
      alert(err)
    })
  }


  function do_delete() {
    
    var selected = _tbl_employee_list_.rows('.selected').data()
    if(selected && selected.length == 0) {
      $("#error_message").text("削除社員を選択してください。")
      $("#modal-alert").modal('show')
      return;
    }
    let post_datas = [];
    _.forEach(selected, function(data) {
      post_datas.push(data.emp_id)
    });
    get_axios().post("api/employee/delete", {
        headers: {"X-CSRFToken": csrfToken},
        data: post_datas
      }).then(response => {
        showLoading();
        do_search();
    }).catch(err => {
      hideLoading();
      alert(err)
    })
  }

  function add_seisan() {
    
    // 社員番号
    var emp_id = $("#seisan_emp_id").val();
    // 精算年月
    var seisan_ym = $("#seisan_ym").val();
    var date = new Date(seisan_ym);
    seisan_ym = date.format_as_yyyymm()
    // 精算時間
    var seisan_time = $("#seisan_time").val();
    if(is_empty(emp_id) || is_empty(seisan_ym) || is_empty(seisan_ym)) {
      $("#error_message").text("未入力項目があります。")
      $("#modal-alert").modal('show')
      return
    }
    var post_datas = {
      "emp_id":emp_id,
      "seisan_ym":seisan_ym,
      "seisan_time":seisan_time,
    }
    
    get_axios().post("api/employee/seisan/insert", {
        headers: {"X-CSRFToken": csrfToken},
        data: post_datas
      }).then(response => {
        $('#seisan_register').modal('hide')
        // do_search();
    }).catch(err => {
      hideLoading();
        $("#error_message").text(err)
    })
  }

</script>
{% endblock %}
