{% extends "tem_no_sidebar.html" %}

{% block title %}プロジェクト管理{% endblock %}

{% block page-title %}プロジェクト管理{% endblock %}

{% block css %}
{{ block.super }}
<style>
.modal-content {
  background-color: #F5FFFA;
}
.modal-dialog {
  width: 700px
}
</style>
{% endblock css %}
{% block content-header %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="box box-info">
      <div class="box-body table-responsive">
        <table id="project_list" class="display stripe nowrap">
          <thead>
          </thead>
        </table>
      </div>
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>

<div class="modal fade" id="modal-alert" style="display: none;z-index: 99999">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p><div id="error_message"></div></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-center" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="project_register">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">登録</h4>
      </div>
      <div class="modal-body">          
        <div class="row">
          <div class="col-md-4">
            <div class="form-group required">
              <label class="control-label text-primary">プロジェクト名称</label>
              <input type="text" id="name" class="form-control" placeholder="プロジェクト名称" maxlength="50">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group required">
              <label class="control-label text-primary">開始日</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="date" id="start_date" format="YYYY-MM-DD" class="form-control pull-right" id="datepicker">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label text-primary">終了日</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="date" id="end_date" format="YYYY-MM-DD" class="form-control pull-right" id="datepicker">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group required">
              <label class="control-label text-primary">ステータス</label>
              <select class="form-control" id="status">
                <option value="1">未開始</option>
                <option value="2">進行中</option>
                <option value="3">完了</option>
                <option value="4">中止</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group required">
              <label class="control-label text-primary">お客様</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="9" tabindex="-1" aria-hidden="true" id="customer">
                  {% for data in customer_datas %}
                    <option value="{{data.id}}">
                        {{data.name}}
                    </option>
                  {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label text-primary">駅</label>
              <input type="text" id="station" class="form-control" placeholder="駅" maxlength="20">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group required">
              <label class="control-label text-primary">精算有無</label>
              <div class="radio">
                <label>
                  <input type="radio" name="seisan" id="optionsRadios1" value="1" checked="">
                  あり
                </label>
                <label>
                  <input type="radio" name="seisan" id="optionsRadios2" value="2">
                  なし
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label text-primary">精算下限</label>
              <input type="number" id="min_time" class="form-control" placeholder="精算下限" min="140" max="160">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="control-label text-primary">精算上限</label>
              <input type="number"" id="max_time" class="form-control" placeholder="精算上限" min="180" max="200">
            </div>
          </div>
      </div>
      <input type="hidden" name="id" id="id">
      <div class="modal-footer">	
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <a href="#" class="btn btn-primary" onclick="add_project();" id="action">登録</a>
      </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>

  function page_ready() {
    $('.select2').select2()
    do_search()
  }

  var _tbl_project_list_ = null;
  
  function do_search() {

      if ( $.fn.DataTable.isDataTable('#project_list') ) {
        $('#project_list').DataTable().destroy();
      }
      $('#project_list').empty();

      $('#project_list').html('<tr><td class="text-info text-center"><h1>Loading...</h1></td></tr>');
      get_api("api/project/list").post(projects => {
        
          $('#no_data_message').hide();
          $('#project_list').empty();
          var disp_columns = [
              {
                "title":"プロジェクトID",
                "data": "id",
                "width": "20px",
                "visible": false,
                "searchable": false
                // "render": function(data, type, row, meta){
                //       if(data) {
                //         data = '<a href="javascript:void(0);" onclick="dispProfile(\'' + data + '\', null); return false;">' + data +'</a>';
                //       }
                //       return data;
                // }
              },
              {
                "title":"プロジェクト名称",
                "data": "name",
                "width": "20px",
                // "render": function(data, type, row, meta){
                //       return row.first_name + " " + row.last_name;
                // }
              },
              {
                "title":"ステータス",
                "data": "status",
                "width": "20px",
                "render": function(data, type, row, meta){
                  if(data == "1") {
                    return "未開始"
                  } else if(data == "2") {
                    return "進行中"
                  } else if(data == "3") {
                    return "完了"
                  } else {
                    return "中止"
                  }
                }
              },
              {
                "title":"開始日",
                "data": "start_date",
                "width": "20px"
              },
              {
                "title":"終了日",
                "data": "end_date",
                "width": "20px",
                "render": function(data, type, row, meta){
                  if(is_empty(data)) {
                    return "-"
                  }
                  return data;
                }
              },
              {
                "title":"精算有無",
                "data": "seisan",
                "render": function(data, type, row, meta){
                  if(data == "1") {
                    return "無"
                  } else {
                    return "有"
                  }
                }
              },
              {
                "title":"精算下限",
                "data": "min_time",
              },
              {
                "title":"精算上限",
                "data": "max_time",
              },
              {
                "title":"所属お客様",
                "data": "customer_name",
              },
              {
                "title":"駅",
                "data": "station",
              }
          ];
          _tbl_project_list_ = $('#project_list').DataTable({
            data: projects,
            columns: disp_columns,
            dom:'Bfrtip',
            autoWidth:false,
            scrollX: true,
            scrollY: '680px',
            paging:true,
            // pageLength:200,
            lengthChange:true,
            processing:true,
            pageLength : 50,
            buttons: [
              // {
              //   extend: 'pdfHtml5',
              //   text: 'pdf',
              //   customize: function ( doc ) {
              //     doc.defaultStyle.font= 'GenShin';
              //   }
              // },
              {
                  text: 'add',
                  action: function ( e, dt, node, config ) {
                    $("#id").val(null);
                    $("#action").text("登録");
                    $(".modal-title").text("登録");
                    $('#project_register').modal({
                        show: true
                    })
                  }
              }, 
              {
                  text: 'edit',
                  action: function ( e, dt, node, config ) {
                    show_edit();
                  }
              }, 
              {
                  text: 'delete',
                  action: function ( e, dt, node, config ) {
                    do_delete();
                  }
              }, 
              // 'excel'
            ],
            autoWidth:false
          });
          $('#project_list tbody').on( 'click', 'tr', function () {
              $(this).toggleClass('selected');
          } );
      }, err => {
        $('#project_list').html('<tr><td class="text-info text-center"><h1>{0}</h1></td></tr>'.format(err));
      });
  }

  function add_project() {
    // プロジェクト名称
    var name = $("#name").val();
    // 開始日
    var start_date = $("#start_date").val();
    // 終了日
    var end_date = $("#end_date").val();
    // ステータス
    var status = $("#status").val();
    // 所属お客様
    var customer = $("#customer").val();
    // 精算有無
    var seisan = $('input[name=seisan]:checked').val();
    // 下限
    var min_time = $("#min_time").val();
    // 上限
    var max_time = $("#max_time").val();
    if(seisan != 1) {
      min_time = 0;
      max_time = 0;
    }

    // 駅
    var station = $("#station").val();
    var id = $("#id").val();
    $("#action").text("登録");
    $(".modal-title").text("登録");
    if((is_empty(name) || is_empty(start_date) || is_empty(status) ||
    is_empty(customer)) || (seisan == 0 && (is_empty(max_time) || is_empty(min_time)))) {
      $("#error_message").text("未入力項目があります。")
      $("#modal-alert").modal('show')
      return
    }
    if(!is_empty(start_date) && !is_empty(end_date) && start_date > end_date) {
      $("#error_message").text("開始日は終了日前の日付を入力してください。")
      $("#modal-alert").modal('show')
      return
    }
    var post_datas = {
      "customer_id":customer,
      "name":name,
      "id":id,
      "status":status,
      "start_date":start_date,
      "station":station,
      "end_date":end_date,
      "seisan":seisan,
      "min_time":min_time,
      "max_time":max_time
    }
    
    get_axios().post("api/project/insert", {
        headers: {"X-CSRFToken": csrfToken},
        data: post_datas
      }).then(response => {
        if(response.data.exists_flag) {
          $("#error_message").text("重複登録できません。")
          $("#modal-alert").modal('show')
          return;
        }
        $('#project_register').modal('hide')
        do_search();
    }).catch(err => {
      hideLoading();
      alert(err)
    })
  }

  function show_edit() {
    var selected = _tbl_project_list_.rows('.selected').data()
    if(selected && selected.length == 0) {
      $("#error_message").text("更新プロジェクトを選択してください。")
      $("#modal-alert").modal('show')
      return;
    }
    if(selected && selected.length > 1) {
      $("#error_message").text("1件プロジェクトを選択しかない。")
      $("#modal-alert").modal('show')
      return;
    }
    $('#project_register').modal('show')
    
    // プロジェクトID
    let id = selected[0].id;
    let post_datas = {
      id:id
    }
    get_axios().post("api/project/info", {
        headers: {"X-CSRFToken": csrfToken},
        data: post_datas
      }).then(response => {
        if(response.data.length > 0) {
          let project_info = response.data[0]
          // プロジェクト名称
          $("#name").val(project_info.name);
          // 精算有無
          $("input[name=seisan][value=" + project_info.seisan + "]").attr('checked', 'checked');
          // 下限
          $("#min_time").val(project_info.min_time);
          // 上限
          $("#max_time").val(project_info.max_time);
          // ステータス
          $("#status").val(project_info.status);
          // 駅
          $("#station").val(project_info.station);
          // 開始日
          $("#start_date").val(project_info.start_date);
          // 終了日
          $("#end_date").val(project_info.end_date);
          // id
          $("#id").val(project_info.id);
          // 所属お客様
          $("#customer").val(project_info.customer_id);
          $("#action").text("更新");
          $(".modal-title").text("更新");
        }
    }).catch(err => {
      hideLoading();
      alert(err)
    })
  }

  function do_delete() {
    
    var selected = _tbl_project_list_.rows('.selected').data()
    if(selected && selected.length == 0) {
      $("#error_message").text("削除プロジェクトを選択してください。")
      $("#modal-alert").modal('show')
      return;
    }
    let post_datas = [];
    _.forEach(selected, function(data) {
      post_datas.push(data.id)
    });
    get_axios().post("api/project/delete", {
        headers: {"X-CSRFToken": csrfToken},
        data: post_datas
      }).then(response => {
        showLoading();
        do_search();
    }).catch(err => {
      hideLoading();
      alert(err)
    })
  }
 
  

</script>
{% endblock %}
