{% extends "tem_no_sidebar.html" %}

{% block title %}プロジェクト管理{% endblock %}

{% block page-title %}プロジェクト管理{% endblock %}

{% block css %}
{{ block.super }}
<style>
.modal-content {
  background-color: #F5FFFA;
}
.modal-dialog {
  width: 700px
}
</style>
{% endblock css %}
{% block content-header %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="box box-info">
      <div class="box-body table-responsive">
        <table id="employee_list" class="display stripe nowrap">
          <thead>
          </thead>
        </table>
      </div>
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<div class="modal fade" id="emp_register">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">登録</h4>
      </div>
      <div class="modal-body">          
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>プロジェクト名称</label>
              <input type="text" id="name" class="form-control" placeholder="プロジェクト名称">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>開始日</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="date" id="start_date" format="YYYY-MM-DD" class="form-control pull-right" id="datepicker">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>終了日</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="date" id="end_date" format="YYYY-MM-DD" class="form-control pull-right" id="datepicker">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>ステータス</label>
              <select class="form-control" id="status">
                <option>未開始</option>
                <option>進行中</option>
                <option>完了</option>
                <option>中止</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>お客様</label>
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="9" tabindex="-1" aria-hidden="true">
                <option selected="selected" data-select2-id="11">お客様１</option>
                <option>お客様２</option>
                <option>お客様３</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>駅</label>
              <input type="text" id="station" class="form-control" placeholder="駅">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">	
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <a href="#" class="btn btn-primary">登録</a>
      </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>

  function page_ready() {
    $('.select2').select2()
    do_search()
  }

  var _tbl_employee_list_ = null;
  
  function do_search() {

      if ( $.fn.DataTable.isDataTable('#employee_list') ) {
        $('#employee_list').DataTable().destroy();
      }
      $('#employee_list').empty();

      $('#employee_list').html('<tr><td class="text-info text-center"><h1>Loading...</h1></td></tr>');
      get_api("api/employee/list").post(employees => {
          // if( !employees || employees.length === 0 ) {
          //   $('#employee_list').html('<tr><td class="text-info text-center"><h1>データなし</h1></td></tr>');
          //   return;
          // }
          $('#no_data_message').hide();
          $('#employee_list').empty();
          var disp_columns = [
              {
                "title":"社員番号",
                "data": "emp_id",
                "width": "20px",
                "render": function(data, type, row, meta){
                      if(data) {
                        data = '<a href="javascript:void(0);" onclick="dispProfile(\'' + data + '\', null); return false;">' + data +'</a>';
                      }
                      return data;
                }
              },
              {
                "title":"氏名",
                "data": "name",
                "width": "20px",
                "render": function(data, type, row, meta){
                      return row.first_name + " " + row.last_name;
                }
              },
              {
                "title":"生年月日",
                "data": "birthday",
                "width": "20px"
              },
              {
                "title":"性別",
                "data": "sex",
                "width": "10px",
                "render": function(data, type, row, meta){
                  if(data == "1") {
                    return "男"
                  } else {
                    return "女"
                  }
                }
              },
              {
                "title":"メールアドレス",
                "data": "email",
                "width": "50px"
              },
              {
                "title":"電話番号",
                "data": "tel_no"
              }
          ];
          _tbl_employee_list_ = $('#employee_list').DataTable({
            data: employees,
            columns: disp_columns,
            fixedColumns:{
              leftColumns: 5
            },
            dom:'Bfrtip',
            autoWidth:false,
            scrollX: true,
            scrollY: '680px',
            paging:true,
            // pageLength:200,
            lengthChange:true,
            processing:true,
            pageLength : 50,
            buttons: [
              {
                extend: 'pdfHtml5',
                text: 'pdf',
                customize: function ( doc ) {
                  doc.defaultStyle.font= 'GenShin';
                }
              },
              {
                  text: 'add',
                  action: function ( e, dt, node, config ) {
                    // $('#modal').fadeTo(200,1);
                    $('#emp_register').modal({
                        show: true
                    })
                  }
              }, 
              'excel'
            ],
            autoWidth:false
          });
      }, err => {
        $('#employee_list').html('<tr><td class="text-info text-center"><h1>{0}</h1></td></tr>'.format(err));
      });
  }


</script>
{% endblock %}
