{% extends "tem_portal.html" %}

{% block title %}ポータル{% endblock %}

{% block content-header %}
  <h1>
    <i class="fa fa-home"></i> Home
  </h1>
  <style>
    .table thead,
    .table th {text-align: center;}
  </style>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">月別売上(万円)</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div id="sales_chart"></div>
      </div>
      <div class="box-footer">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">月別利益(万円)</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div id="interest_chart"></div>
      </div>
      <div class="box-footer">
      </div>
    </div>
  </div>
  <!-- /.col -->
</div>
<div class="row">
  <div class="col-md-12" style="text-align: left">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">社員一覧</h3>
      </div>
      <div class="box-body">
        <table id="employee_list" class="display stripe nowrap">
          <thead>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6" style="text-align: left">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">稼働プロジェクト一覧</h3>
      </div>
      <div class="box-body">
        <table id="project_list" class="display stripe nowrap">
          <thead>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6" style="text-align: left">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">契約中お客様一覧</h3>
      </div>
      <div class="box-body">
        <table id="customer_list" class="display stripe nowrap">
          <thead>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>

  const emp_datas = [
    {
      emp_id: "jcl0001",
      first_name: "テスト",
      last_name: "1",
      first_name_kana: "テスト",
      last_name_kana: "1",
      birthday: "19810101",
      salary: 300000,
      price: 400000,
      transport_cost: 12000,
      sex: 0,
      email: "test@test.jcl.com",
      tel: "08039611111",
      project_name: "テストプロジェクト１",
      project_end_plan_date: "20211231",
      entry_date: "20200101",
      kbn: 1
    },
    {
      emp_id: "jcl0002",
      first_name: "テスト",
      last_name: "2",
      first_name_kana: "テスト",
      last_name_kana: "2",
      birthday: "19810102",
      salary: 310000,
      price: 410000,
      transport_cost: 11000,
      sex: 0,
      email: "test@test2.jcl.com",
      tel: "08039611112",
      project_name: "テストプロジェクト２",
      project_end_plan_date: "20211201",
      entry_date: "20200101",
      kbn: 2
    },
    {
      emp_id: "jcl0003",
      first_name: "テスト",
      last_name: "3",
      first_name_kana: "テスト",
      last_name_kana: "3",
      birthday: "19810103",
      salary: 320000,
      price: 420000,
      transport_cost: 13000,
      sex: 1,
      email: "test@test3.jcl.com",
      tel: "08039611113",
      project_name: "テストプロジェクト２",
      project_end_plan_date: "20211203",
      entry_date: "20200101",
      kbn: 3
    },
    {
      emp_id: "jcl0003",
      first_name: "テスト",
      last_name: "3",
      first_name_kana: "テスト",
      last_name_kana: "3",
      birthday: "19810103",
      salary: 320000,
      price: 420000,
      transport_cost: 13000,
      sex: 1,
      email: "test@test3.jcl.com",
      tel: "08039611113",
      project_name: "テストプロジェクト２",
      project_end_plan_date: "20211203",
      entry_date: "20200101",
      kbn: 4
    }
  ]

  function page_ready() {
    sales_chart();
    interest_chart();
    employee_list();
    project_list();
    customer_list();
  }

  const interest_chart = () => {
    const chart = c3.generate({
      bindto: '#interest_chart',
      data: {
        x: 'x',
        columns: [
          ['x','１月', '２月', '３月', '４月', '５月', '６月', '７月', '８月', '９月', '１０月', '１１月', '１２月'],
          ['売上(万円)', 120, 200, 180, 170, 210, 230, 240, 290, 280, 190, 200, 212 ]
        ],
        type: 'bar',
        colors: {
          '売上(万円)': '#ff0000',
        }
      },
      axis: {
          x: {
              type: 'category'
          },
          y: {
              padding: { top: 0, bottom: 0 }
          }
      }
    });
  }
  const sales_chart = () => {
    const chart = c3.generate({
      bindto: '#sales_chart',
      data: {
        x: 'x',
        columns: [
          ['x','１月', '２月', '３月', '４月', '５月', '６月', '７月', '８月', '９月', '１０月', '１１月', '１２月'],
          ['売上(万円)', 2211, 2010, 1910, 1801, 2100, 2300, 2400, 2900, 2800, 1900, 2000, 2120 ]
        ],
        type: 'bar',

      },
      axis: {
          x: {
              type: 'category'
          },
          y: {
              padding: { top: 0, bottom: 0 }
          }
      }
    });
  }
  
  let _tbl_employee_list_ = null;
  const employee_list = () => {
    
    if ( $.fn.DataTable.isDataTable('#employee_list') ) {
        $('#employee_list').DataTable().destroy();
      }
    $('#employee_list').empty();
    $('#employee_list').html('<tr><td class="text-info text-center"><h1>Loading...</h1></td></tr>');
    $('#no_data_message').hide();
    $('#employee_list').empty();
    var disp_columns = [
        {
          "title":"社員番号",
          "data": "emp_id",
          "className": "text-left",
          // "width": "20px",
          "render": function(data, type, row, meta){
            if(data) {
              data = '<a href="javascript:void(0);" onclick="dispProfile(\'' + data + '\', null); return false;">' + data +'</a>';
            }
            return data;
          }
        },
        {
          "title":"氏名",
          "data": "name",
          "className": "text-left",
          "render": function(data, type, row, meta){
            return row.first_name + " " + row.last_name;
          }
        },
        {
          "title":"氏名(カナ)",
          "data": "name",
          "className": "text-left",
          "render": function(data, type, row, meta){
            return row.first_name_kana + " " + row.last_name_kana;
          }
        },
        {
          "title":"給料",
          "data": "salary",
          "className": "text-right",
          "render": function(data, type, row, meta) {
            return data.toLocaleString(
              undefined, 
              { minimumFractionDigits: 2 }
            )
          }
        },
        {
          "title":"単価",
          "data": "price",
          "className": "text-right",
          "render": function(data, type, row, meta) {
            return data.toLocaleString(
              undefined, 
              { minimumFractionDigits: 2 }
            )
          }
        },
        {
          "title":"交通費",
          "data": "transport_cost",
          "className": "text-right",
          "render": function(data, type, row, meta) {
            return data.toLocaleString(
              undefined, 
              { minimumFractionDigits: 2 }
            )
          }
        },
        {
          "title":"生年月日",
          "data": "birthday",
          "className": "text-left",
          "render": function(data, type, row, meta) {
            return data.format_as_yyyymmdd_with_slash()
          }
        },
        {
          "title":"性別",
          "data": "sex",
          "className": "text-left",
          "render": function(data, type, row, meta){
            if(data == "1") {
              return "男"
            } else {
              return "女"
            }
          }
        },
        {
          "title":"メールアドレス",
          "data": "email",
          "className": "text-left",
        },
        {
          "title":"電話番号",
          "data": "tel",
          "className": "text-left",
        },
        {
          "title":"プロジェクト",
          "data": "project_name",
          "className": "text-left",
        },
        {
          "title":"プロジェクト予定終了日",
          "data": "project_end_plan_date",
          "className": "text-left",
          "render": function(data, type, row, meta) {
            return data.format_as_yyyymmdd_with_slash()
          }
        },
        {
          "title":"入社年月日",
          "data": "entry_date",
          "className": "text-left",
          "render": function(data, type, row, meta) {
            return data.format_as_yyyymmdd_with_slash()
          }
        },
        {
          "title":"社員種別",
          "data": "kbn",
          "className": "text-left",
          "render": function(data, type, row, meta){
            if(data === 1) {
              return "正社員"
            } else if(data === 2) {
              return "契約社員"
            } else if(data === 3) {
              return "個人事業主"
            } else {
              return "不明"
            }
          }
        }
    ];
    _tbl_employee_list_ = $('#employee_list').DataTable({
      data: emp_datas,
      columns: disp_columns,
      // fixedColumns:{
      //   leftColumns: 5
      // },
      dom:'Bfrtip',
      autoWidth:true,
      paging:true,
      lengthChange:true,
      processing:true,
      pageLength : 10,
      buttons: [
        {
          extend: 'pdfHtml5',
          text: 'pdf',
          customize: function ( doc ) {
            doc.defaultStyle.font= 'GenShin';
          }
        },
        'excel'
      ],
      autoWidth:false
    });
  }
  
  const project_datas = [
    {
      name: "プロジェクト１",
      start_date: "20210101",
      station: "王子",
      status: 1,
      customer_name: "株式会社ジェーシーエル",
      seisan: 1,
      min_time: 140,
      max_time: 180
    },
    {
      name: "プロジェクト２",
      start_date: "20210102",
      station: "王子",
      status: 1,
      customer_name: "株式会社ジェーシーエル",
      seisan: 0,
      min_time: 0,
      max_time: 0
    },
    {
      name: "プロジェクト３",
      start_date: "20210103",
      station: "王子",
      status: 0,
      customer_name: "株式会社ジェーシーエル",
      seisan: 1,
      min_time: 150,
      max_time: 200
    },
  ]

  let _tbl_project_list_ = null;
  const project_list = () => {
    
    if ( $.fn.DataTable.isDataTable('#project_list') ) {
        $('#project_list').DataTable().destroy();
      }
    $('#project_list').empty();
    $('#project_list').html('<tr><td class="text-info text-center"><h1>Loading...</h1></td></tr>');
    $('#no_data_message').hide();
    $('#project_list').empty();
    
    var disp_columns = [
        {
          "title":"プロジェクト名称",
          "className": "text-left",
          "data": "name"
        },
        {
          "title":"開始日",
          "data": "start_date",
          "className": "text-left",
          "render": function(data, type, row, meta) {
            return data.format_as_yyyymmdd_with_slash()
          }
        },
        {
          "title":"駅",
          "className": "text-left",
          "data": "station",
        },
        {
          "title":"ステータス",
          "className": "text-left",
          "data": "status",
          "render": function(data, type, row, meta){
            if(data == "1") {
              return "進行中"
            } else {
              return "未開始"
            }
          }
        },
        {
          "title":"お客様名",
          "className": "text-left",
          "data": "customer_name",
        },
        {
          "title":"精算有無",
          "data": "seisan",
          "render": function(data, type, row, meta){
            if(data == "1") {
              return "精算有"
            } else {
              return "精算無"
            }
          }
        },
        {
          "title":"下限",
          "className": "text-left",
          "data": "min_time"
        },
        {
          "title":"上限",
          "className": "text-left",
          "data": "max_time"
        }
    ];
    _tbl_project_list_ = $('#project_list').DataTable({
      data: project_datas,
      columns: disp_columns,
      // fixedColumns:{
      //   leftColumns: 5
      // },
      dom:'Bfrtip',
      autoWidth:false,
      paging:true,
      lengthChange:true,
      processing:true,
      pageLength : 10,
      buttons: [
        {
          extend: 'pdfHtml5',
          text: 'pdf',
          customize: function ( doc ) {
            doc.defaultStyle.font= 'GenShin';
          }
        },
        'excel'
      ],
      autoWidth:false
    });
  }
  
  const customer_datas = [
    {
      name: "株式会社ジェーシー1",
      zip: "1140001",
      address: "東京都江戸川区西葛西",
      tel: "03-1234-1234",
      email: "test@test1.com",
      partener: "1",
      representative: "山田　太郎1",
      station: "神田",
    },
    {
      name: "株式会社ジェーシー2",
      zip: "1140002",
      address: "東京都江戸川区西葛西",
      tel: "03-1234-1234",
      email: "test@test2.com",
      partener: "0",
      representative: "山田　太郎2",
      station: "品川",
    },
    {
      name: "株式会社ジェーシー2",
      zip: "1140003",
      address: "東京都江戸川区西葛西3",
      tel: "03-1234-1234",
      email: "test@test3.com",
      partener: "1",
      representative: "山田　太郎3",
      station: "東京都",
    },
  ]
  let _tbl_customer_list_ = null;
  const customer_list = () => {
    
    if ( $.fn.DataTable.isDataTable('#customer_list') ) {
        $('#customer_list').DataTable().destroy();
      }
    $('#customer_list').empty();
    $('#customer_list').html('<tr><td class="text-info text-center"><h1>Loading...</h1></td></tr>');
    $('#no_data_message').hide();
    $('#customer_list').empty();

    var disp_columns = [
        {
          "title":"お客様名",
          "data": "name",
          "className": "text-left",
        },
        {
          "title":"郵便番号",
          "data": "zip",
          "className": "text-left",
        },
        {
          "title":"住所",
          "data": "address",
          "className": "text-left",
        },
        {
          "title":"電話番号",
          "data": "tel",
          "className": "text-left",
        },
        {
          "title":"お客様区分",
          "data": "partener",
          "className": "text-left",
          "render": function(data, type, row, meta){
            if(data == "1") {
              return "上会社"
            } else {
              return "ＢＰ"
            }
          }
        },
        {
          "title":"代表者",
          "className": "text-left",
          "data": "representative",
        },
        {
          "title":"駅",
          "className": "text-left",
          "data": "station"
        }
    ];
    _tbl_customer_list_ = $('#customer_list').DataTable({
      data: customer_datas,
      columns: disp_columns,
      // fixedColumns:{
      //   leftColumns: 5
      // },
      dom:'Bfrtip',
      autoWidth:false,
      paging:true,
      lengthChange:true,
      processing:true,
      pageLength : 10,
      buttons: [
        {
          extend: 'pdfHtml5',
          text: 'pdf',
          customize: function ( doc ) {
            doc.defaultStyle.font= 'GenShin';
          }
        },
        'excel'
      ],
      autoWidth:false
    });
  }
</script>
{% endblock %}

