{% extends "tem_portal.html" %}

{% block title %}ポータル{% endblock %}

{% block content-header %}
  <h1>
    <i class="fa fa-home"></i> Home
  </h1>
{% endblock %}
{% block content %}

{{python2json}}
<div class="row">
  <div class="col-md-6">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">CPU Traffic</span>
        <span class="info-box-number">90<small>%</small></span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-6">
    <div class="info-box">
      <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Likes</span>
        <span class="info-box-number">41,410</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>

  function page_ready() {

  }

</script>
{% endblock %}

