{% extends "tem_portal.html" %}

{% block title %}ポータル{% endblock %}

{% block content-header %}
  <h1>
    <i class="fa fa-home"></i> Home
  </h1>
{% endblock %}
{% block content %}

    <div id="v_summary" class="row">
      <table id="employee" class="fixed-column-table" style="width:100%"><tr><td class="text-info text-center"><h1>Loading12345...{{name}}</h1></td></tr></table>
    </div>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>

  function page_ready() {

  }

</script>
{% endblock %}

