{% extends "tem_no_sidebar.html" %}
{% load static %}
{% block title %}通知{% endblock %}

{% block page-title %}<i class="fa fa-info text-white"></i>&nbsp;&nbsp;通知一覧{% endblock %}

{% block content %}
<section class="content">
  <!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-md-12">
            {% for data in infos %}
            <ul class="timeline">
                <!-- timeline time label -->
                <li class="time-label">
                    <span class="bg-red">
                        {{data.create_dt}}
                    </span>
                </li>
                <!-- /.timeline-label -->

                <!-- timeline item -->
                <li>
                    <!-- timeline icon -->
                    {% if data.priority == "crucial" %}
                    <i class='fa fa-warning text-red'></i>
                    {% elif data.priority == "high" %}
                    <i class='fa fa-warning text-yellow'></i>
                    {% else %}
                    <i class='fa fa-info text-green'></i>
                    {% endif %}
                    {{info.create_dt}} {{info.title}}
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i>expire on {{data.expire_dt}}</span>
                        <h3 class="timeline-header">{{data.title}}</h3>
                        <div class="timeline-body">
                            {{data.content | linebreaks}}
                        </div>
                    </div>
                </li>
            </ul>
            {% endfor %}
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
<!-- /.box -->
</section>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script>
</script>
{% endblock scripts %}