{% extends "tem_no_sidebar.html" %}
{% load static %}

{% block title %}口座情報 | {%if data.client_id != None %}{{ data.client_id }}{%endif%}{% endblock %}

{% block page-title %}<i class="fa fa-user text-white"></i>&nbsp;&nbsp;口座情報{% endblock %}

{% block content %}

  <div class="row" style="display:flex;align-items: flex-end;flex-direction:row;margin-left:0px">
    <div class="col-md-3">
      <h3>
        {%if data.name != None %}{{ data.name }}{%endif%}<span id='diamondclub_icon'></span>
        {%if data.name_kana != None %}<br>{{ data.name_kana }}{%endif%}
      </h3>
    </div>
    <div class="col-md-9" style="margin-bottom:12px">
        <input type="text" id="date_range" style="display:inner-block;width:150px;color:blue;margin-left:-10px;" value=""/>間の取引情報
        <a class="btn btn-flat btn-info btn-xs" style="margin-left:10px" onclick="javascript:do_search()"><i class="fa fa-search"></i></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>申込管理ID</b> <a class="pull-right">{{ data.id }}</a>
            </li>
            <li class="list-group-item">
              <b>口座番号</b> <a class="pull-right">{%if data.client_id != None %}{{ data.client_id }}{%endif%}</a>
              <input name="client_id" id="client_id" value="{{ data.client_id }}" type="hidden">
            </li>
            <li class="list-group-item">
              <b>生年月日</b> <a class="pull-right">{%if data.birthdate != None %}{{ data.birthdate }}{%endif%}</a>
            </li>
            <li class="list-group-item">
              <b>性別</b> <a class="pull-right">{%if data.sex != None %}{{ data.sex }}{%endif%}</a>
            </li>
            <li class="list-group-item">
              <b>電話番号</b> <a class="pull-right">{%if data.phone != None %}{{ data.phone }}{%endif%}</a>
            </li>
            <li class="list-group-item">
              <b>携帯番号</b> <a class="pull-right">{%if data.mobile_phone != None %}{{ data.mobile_phone }}{%endif%}</a>
            </li>
            <li class="list-group-item">
              <b>PCメール</b> <a class="pull-right">{%if data.pc_mail != None %}{{ data.pc_mail | safe }}{%endif%}</a>
            </li>
            <li class="list-group-item">
              <b>携帯メール</b> <a class="pull-right">{%if data.mobile_mail != None %}{{ data.mobile_mail }}{%endif%}</a>
            </li>
            <li class="list-group-item">
              <b>職業</b> <a class="pull-right">{%if data.job != None %}{{ data.job }}{%endif%}</a>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4"> <b>勤務先名</b></div>
                <div class="col-md-8"><a class="pull-right">{%if data.office != None %}{{ data.office }}{%endif%}</a></div>
              </div>
            </li>
            <li class="list-group-item">
              <b>年収・年商</b> <a class="pull-right">{%if data.annual_income != None %}{{ data.annual_income }}{%endif%}</a>
            </li>
            <li class="list-group-item">
              <b>資産</b> <a class="pull-right">{%if data.personal_fund != None %}{{ data.personal_fund }}{%endif%}</a>
            </li>
            <li class="list-group-item">
              <b>口座開設日時</b> <a class="pull-right">{%if data.open_dt != None %}{{ data.open_dt }}{%endif%}</a>
            </li>
            <li class="list-group-item">
              <b>初回入金日時</b> <a class="pull-right">{%if data.first_deposit_dt != None %}{{ data.first_deposit_dt }}{%endif%}</a>
            </li>
            <li class="list-group-item">
              <b>初回取引日時</b> <a class="pull-right">{%if data.first_trade_dt != None %}{{ data.first_trade_dt }}{%endif%}</a>
            </li>
            <li class="list-group-item">
              <b>最終取引日</b> <a class="pull-right">{%if data.last_trade_dt != None %}{{ data.last_trade_dt|date:"Y年m月d日" }}{%else%}{{ "2019年04月以降の取引履歴が無い" }}{%endif%}</a>
            </li>
          </ul>

          <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
        </div>

      <!-- About Me Box -->
      <!-- <div class="box box-primary"> -->
        <!-- <div class="box-header with-border">
          <h3 class="box-title">About Me</h3>
        </div> -->
        <!-- /.box-header -->
        <div class="box-body">
          <strong><i class="fa fa-map-marker margin-r-5"></i>住所</strong>

          <p class="text-muted">
            {%if data.zipcode != None %}〒{{ data.zipcode }}{%endif%}{%if data.address != None %}&nbsp;{{ data.address }}{%endif%}
          </p>
          <hr>

          <strong><i class="fa fa-sellsy margin-r-5"></i>投資経験</strong>

          <p class="text-muted">
            {%if data.investment_experience1 != None %}投資経験ＦＸ：{{ data.investment_experience1 }}{%endif%}
            {%if data.investment_experience2 != None %}<br>投資経験外貨預金：{{ data.investment_experience2 }}{%endif%}
            {%if data.investment_experience3 != None %}<br>投資経験現物株：{{ data.investment_experience3 }}{%endif%}
            {%if data.investment_experience4 != None %}<br>投資経験信用株：{{ data.investment_experience4 }}{%endif%}
            {%if data.investment_experience5 != None %}<br>投資経験オプション：{{ data.investment_experience5 }}{%endif%}
            {%if data.investment_experience6 != None %}<br>投資経験商品先物：{{ data.investment_experience6 }}{%endif%}
          </p>
          <hr>
        </div>
        <!-- /.box-body -->
      <!-- </div> -->
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="box box-info">
          <div class="box-body" style="overflow:hidden;">

            {% if perms.app.view_kessai %}
            <div class="row">

              <!-- １列目 -->
              <div class="col-md-2 h5">

                    <div class="row">
                      <div class="col-xs-12">
                        <span>
                              <i class="fa fa-ellipsis-v"></i>
                              <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <span class="text">売買高(通貨)</span>
                        <h4><span class="label label-primary" id="done_lot"></span></h4>
                      </div>
                    </div>

                    <div class="row" style="margin-top:10px">
                      <div class="col-xs-12">
                          <!-- drag handle -->
                          <span>
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                          </span>
                          <span class="text">売買回数(回)</span>
                          <h4><span class="label label-primary" id="bs_count"></span></h4>
                      </div>
                    </div>

                    <div class="row" style="margin-top:10px">
                        <div class="col-xs-12">
                            <!-- drag handle -->
                            <span>
                                  <i class="fa fa-ellipsis-v"></i>
                                  <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <span class="text">平均売買高(通貨)</span>
                            <h4><span class="label label-primary" id="avg_lot"></span></h4>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px">
                        <div class="col-xs-12">
                          <span>
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                          </span>
                          <span class="text">売買比率</span>
                          <h4><span class="label label-primary" id="bs_rate"></span></h4>
                        </div>
                    </div>
              </div>

              <!-- ２列目 -->
              <div class="col-md-2 h5">
                    <div class="row">
                        <div class="col-xs-12">
                          <!-- drag handle -->
                          <span>
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                          </span>
                          <span class="text">勝率</span>
                          <h4><span class="label label-primary" id="profit_rate"></span></h4>
                        </div>
                    </div>
              </div>

              <!-- ３列目 -->
              <div class="col-md-2 h5">

                  <div class="row">
                    <div class="col-xs-12">
                      <!-- drag handle -->
                      <span>
                            <i class="fa fa-ellipsis-v"></i>
                            <i class="fa fa-ellipsis-v"></i>
                      </span>
                      <span class="text">売買差損益合計(円)</span>
                      <h4><span class="label label-primary" id="pl_total"></span></h4>
                    </div>
                  </div>

                  <div class="row" style="margin-top:10px">
                    <div class="col-xs-12">
                        <!-- drag handle -->
                        <span>
                              <i class="fa fa-ellipsis-v"></i>
                              <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <span class="text">平均売買差損益(円)</span>
                        <h4><span class="label label-primary" id="avg_pl"></span></h4>
                    </div>
                  </div>

                  <div class="row" style="margin-top:10px">
                      <div class="col-xs-12">
                        <span>
                              <i class="fa fa-ellipsis-v"></i>
                              <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <span class="text">平均ポジション保有時間<br>(時間・分・秒)</span>
                        <h4><span class="label label-primary" id="position_period"></span></h4>
                      </div>
                  </div>
              </div>

              <!-- ４列目 -->
              <div class="col-md-2 h5">
                  <div class="row">
                      <div class="col-xs-12">
                        <!-- drag handle -->
                        <span>
                              <i class="fa fa-ellipsis-v"></i>
                              <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <span class="text">入出金合計(円)</span>
                        <h4><span class="label label-primary" id="payment_total"></span></h4>
                      </div>
                  </div>
                  <div class="row" style="margin-top:10px">
                      <div class="col-xs-12">
                        <!-- drag handle -->
                        <span>
                              <i class="fa fa-ellipsis-v"></i>
                              <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <span id="payment_total" class="text">入金合計(円)</span>
                        <h4><span class="label label-primary" id="payment_total_in"></span></h4>
                      </div>
                  </div>
                  <div class="row" style="margin-top:10px">
                      <div class="col-xs-12">
                        <!-- drag handle -->
                        <span>
                              <i class="fa fa-ellipsis-v"></i>
                              <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <span id="payment_total" class="text">出金合計(円)</span>
                        <h4><span class="label label-danger" id="payment_total_out"></span></h4>
                      </div>
                  </div>
              </div>

              <!-- ５列目 -->
              <div class="col-md-4 h5">
                  <div class="row">
                      <div class="col-xs-12">
                        <!-- drag handle -->
                        <span>
                              <i class="fa fa-ellipsis-v"></i>
                              <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <span class="text">証拠金残高(預託金残高)(円、<i id="deposit_yotei_margin_endday"></i>まで)</span>
                        <h4><span class="label label-primary" id="desposit_yotei_margin"></span></h4>
                      </div>
                  </div>
                  <div class="row" style="margin-top:10px">
                      <div class="col-xs-12">
                        <!-- drag handle -->
                        <span>
                              <i class="fa fa-ellipsis-v"></i>
                              <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <span id="payment_total" class="text">損益評価額(円、<i id="deposit_vl_amount_endday"></i>まで)</span>
                        <h4><span class="label label-primary" id="desposit_vl_amount"></span></h4>
                      </div>
                  </div>
                  <div class="row" style="margin-top:10px">
                      <div class="col-xs-12">
                        <!-- drag handle -->
                        <span>
                              <i class="fa fa-ellipsis-v"></i>
                              <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <span id="payment_total" class="text">有効証拠金残高(資産評価額)(円、<i id="shisan_vl_amount_endday"></i>まで)</span>
                        <h4><span class="label label-primary" id="shisan_vl_amount"></span></h4>
                      </div>
                  </div>
              </div>

            </div>
            <!--/.row-->
            <div class="row">
                <table id="tbl_kessai_detail" style="width:100%"><tr><td class="text-center"><h3>Loading...</h3></td></tr></table>
            </div>
            <div class="row" style="margin-top:10px">
              <div class="col-md-12 box box-info">
                <div class="box-header with-border">
                  <i class="fa fa-bar-chart"></i>日別約定数量
                </div>
                <div style="height:200px" >
                  <div id="done_quantity_loading" style="width: 100% !important;height: auto !important;display: none;text-align:center;"><h3>Loading...</h3></div>
                  <div id="done_quantity_nodata" style="width: 100% !important;height: auto !important;display: none;text-align:center;"><h3>データなし</h3></div>
                  <canvas id="done_quantity" style="width: 100% !important;height: auto !important;"></canvas>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 box box-info">
                <div class="box-header with-border">
                  <i class="fa fa-bar-chart"></i>日別損益(円)
                </div>
                <div style="height:200px" >
                  <div id="kessai_loading" style="width: 100% !important;height: auto !important;display: none;text-align:center;"><h3>Loading...</h3></div>
                  <div id="kessai_nodata" style="width: 100% !important;height: auto !important;display: none;text-align:center;"><h3>データなし</h3></div>
                  <canvas id="kessai" style="width: 100% !important;height: auto !important;"></canvas>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12 box box-info">
                  <div class="box-header with-border">
                    <i class="fa fa-bar-chart"></i>評価損益推移(円)
                  </div>
                  <div style="height:200px" >
                    <div id="chart_desposit_vl_amount_loading" style="width: 100% !important;height: auto !important;text-align:center;"><h3>Loading...</h3></div>
                    <div id="chart_desposit_vl_amount_nodata" style="width: 100% !important;height: auto !important;display: none;;text-align:center;"><h3>データなし</h3></div>
                    <canvas id="chart_desposit_vl_amount" style="width: 100% !important;height: auto !important;"></canvas>
                  </div>
                </div>
            </div>
            {% endif %}

            {% if perms.app.view_deposit %}
            <div class="row">
                <div class="col-md-12 box box-info">
                  <div class="box-header with-border">
                    <i class="fa fa-bar-chart"></i>証拠金残高推移(円)
                  </div>
                  <div style="height:200px" >
                    <div id="chart_desposit_yotei_margin_loading" style="width: 100% !important;height: auto !important;text-align:center;"><h3>Loading...</h3></div>
                    <div id="chart_desposit_yotei_margin_nodata" style="width: 100% !important;height: auto !important;display: none;;text-align:center;"><h3>データなし</h3></div>
                    <canvas id="chart_desposit_yotei_margin" style="width: 100% !important;height: auto !important;"></canvas>
                  </div>
                </div>
            </div>
            {% endif %}

            {% if perms.app.view_payment %}
            <div class="row">
                <div class="col-md-12 box box-info">
                  <div class="box-header with-border">
                    <i class="fa fa-bar-chart"></i>日別入出金(円)
                  </div>
                  <div style="height:200px" >
                    <div id="payment_loading" style="width: 100% !important;height: auto !important;text-align:center;"><h3>Loading...</h3></div>
                    <div id="payment_nodata" style="width: 100% !important;height: auto !important;display: none;;text-align:center;"><h3>データなし</h3></div>
                    <canvas id="payment" style="width: 100% !important;height: auto !important;"></canvas>
                  </div>
                </div>
            </div>
            {% endif %}

            {% if perms.app.view_position %}
            <div class="row">
              <div class="col-md-12 box box-info">
                <div class="box-header with-border">
                  <i class="fa fa-bar-chart"></i>ポジション推移(通貨数量)
                </div>
                <div style="height:200px" >
                  <div id="position_message" style="width: 100% !important;height: auto !important;text-align:center;"><h3>Loading...</h3></div>
                  <canvas id="position" style="width: 100% !important;height: auto !important;"></canvas>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
          <!--/.box-body-->
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

{% endblock %}
{% block scripts %}
{{ block.super }}
<script>
    var chart_done_quantity;
    var chart_kessai;
    var chart_payment;
    var chart;
    var client_id = $("#client_id").val();

    function page_ready() {
        if( window.context.diamonders['{{ data.client_id }}'] ) {
          $("#diamondclub_icon").html('<i class="fa fa-diamond text-orange"></i>')
        }

        $('#kessai_loading').css("display", 'block');

        get_api("api/kessai/koza/latestDate").get(response => {
            end = response[0]['data_date'];
            start = getPreDay(end, 90);
            create_date_range_picker('date_range', [start.format_as_yyyymmdd_with_slash(), end.format_as_yyyymmdd_with_slash()]);
            {% if perms.app.view_done %}
              create_done_quantity(start, end);
            {% endif %}
            {% if perms.app.view_kessai %}
              create_kesai(start, end);
            {% endif %}
            {% if perms.app.view_payment %}
              create_payment(start, end);
            {% endif %}
            {% if perms.app.view_deposit or perms.app.view_kessai %}
              create_deposit(start, end);
            {% endif %}
            {% if perms.app.view_position %}
              create_position(start, end);
            {% endif %}
        });
    }

    function do_search () {
        var daterange = $("#date_range").val().replace(/\//g, '').replace(/\s/g, '');
        var daterange_arr = daterange.split("-");
        start = daterange_arr[0];
        end = daterange_arr[1];
        {% if perms.app.view_done %}
          create_done_quantity(start, end);
        {% endif %}
        {% if perms.app.view_kessai %}
          create_kesai(start, end);
        {% endif %}
        {% if perms.app.view_deposit or perms.app.view_kessai %}
          create_deposit(start, end);
        {% endif %}
        {% if perms.app.view_payment %}
          create_payment(start, end);
        {% endif %}
        {% if perms.app.view_position %}
          create_position(start, end);
        {% endif %}
    }

    function set_label_class(id, value) {
        $(id).removeClass('label-primary');
        $(id).removeClass('label-danger');
        if( parseFloat(value) < 0 ) {
          $(id).addClass('label-danger');
        } else {
          $(id).addClass('label-primary');
        }
    }

    _tbl_kessai_detail_ = null;
    function dispKessaiInfo (kessai_datas) {
          $('#pl_total').html("0")
          $('#bs_count').html("0")
          $('#position_period').html("0")
          $('#avg_lot').html("0")
          $('#avg_pl').html("0")
          $('#bs_rate').html("0")
          $('#profit_rate').html("0")
          $('#profit_rate').html("0")
          if ( _tbl_kessai_detail_ ) {
            _tbl_kessai_detail_.destroy();
            $('#tbl_kessai_detail').empty();
          }

          if ( !kessai_datas || kessai_datas.length == 0 ) {
            $('#tbl_kessai_detail').html('');
            return;
          }
          //決済差損益合計
          pl_total = _.sumBy(kessai_datas, function(o) { return parseFloat(o.b_pl) + parseFloat(o.s_pl); });
          $('#pl_total').html("￥" + fmoney(pl_total, 0))
          set_label_class('#pl_total', pl_total);

          //売買回数
          b_count = _.sumBy(kessai_datas, function(o) { return parseFloat(o.b_count); });
          s_count = _.sumBy(kessai_datas, function(o) { return parseFloat(o.s_count); });
          bs_count = b_count + s_count;
          $('#bs_count').html(fmoney(bs_count, 0))

          //ロット
          lots = _.sumBy(kessai_datas, function(o) { return parseInt(o.b_quantity, 10) + parseInt(o.s_quantity, 10)});
          $('#done_lot').html(fmoney(lots,0));

          //平均ポジション保有期間
          position_period = _.sumBy(kessai_datas, function(o) { return parseFloat(o.position_period) });
          avg_position_period =  position_period / bs_count;
          hour =  Math.floor(avg_position_period/3600)
          min = Math.floor((avg_position_period % 3600) / 60)
          sec =  Math.floor(avg_position_period) % 3600 % 60
          $('#position_period').html("{0} 時間 {1} 分 {2} 秒".format(hour, min, sec));

          //平均取引数
          avg_lot = Math.round(lots / bs_count);
          $('#avg_lot').html(fmoney(avg_lot,0));

          //平均取引益
          avg_pl = pl_total / bs_count;
          $('#avg_pl').html("￥" + fmoney(avg_pl,0));
          set_label_class('#avg_pl', avg_pl);

          //売買比率
          $('#bs_rate').html("{0} : {1}".format(s_count, b_count));

          //勝ち率
          profit_count = _.sumBy(kessai_datas, function(o) { return parseInt(o.b_profit_count, 10) + parseInt(o.s_profit_count, 10); });
          loss_count = _.sumBy(kessai_datas, function(o) { return parseInt(o.b_loss_count, 10) + parseInt(o.s_loss_count, 10); });
          profit_rate = Math.round( (profit_count / (profit_count + loss_count)) * 100  );
          $('#profit_rate').html("{0}% (勝：{1} <font color='#b22222'>負：{2}</font>)".format(profit_rate, profit_count, loss_count));


          _.forEach({ 'a': 1, 'b': 2 }, function(value, key) {

          });
          _.map(kessai_datas, data => {
              data.pl_total = "￥" + fmoney(parseFloat(data.b_pl ) + parseFloat(data.s_pl ), 0);
              b_quantity = parseFloat(data.b_quantity );
              s_quantity = parseFloat(data.s_quantity );
              data.total_quantity = fmoney(b_quantity + s_quantity, 0 );
              data.profit_count = parseInt(data.b_profit_count, 10) + parseInt(data.s_profit_count, 10);
              data.loss_count = parseInt(data.b_loss_count, 10) + parseInt(data.s_loss_count, 10);
              data.profit_rate = Math.round( (data.profit_count  / (data.profit_count + data.loss_count)) * 100  ) + "%";
              position_period = parseInt(data.position_period);
              bs_count = parseInt(data.b_count, 10) + parseInt(data.s_count, 10);
              data.bs_count = bs_count;
              avg_position_period = position_period /bs_count
              hour =  Math.floor(avg_position_period/3600)
              min = Math.floor((avg_position_period % 3600) / 60)
              sec =  Math.floor(avg_position_period) % 3600 % 60
              data.total_position_period = "{0}時間{1}分{2}秒".format(hour, min, sec)
              data.position_period = Math.round( (position_period / (b_quantity + s_quantity) ) * 10000 ) / 10000;
          });

          var disp_columns = [
            {
              "title":"通貨ペア",
              "data": "ccy_pair_id"
            },
            {
              "title":"損益(円)",
              "data": "pl_total",
              "render": function(data, type, row, meta){
                    if ( data < 0 )
                      return '<p class="text-red">' + data + '</p>'
                    return data;
              }
            },
            {
              "title":"決済数量",
              "data": "total_quantity"
            },
            {
              "title":"買売回数",
              "data": "bs_count",
              "render": function(data, type, row, meta){
                  return '<span>{0}(勝:{1} <i class="text-red">負:{2}</i>)</span>'.format(data, row.profit_count, row.loss_count)
              }
            },
/*            {
              "title":"売回数",
              "data": "s_count",
              "render": function(data, type, row, meta){
                  return '<span>{0}(勝:{1} <i class="text-red">負:{2}</i>)</span>'.format(data, row.s_profit_count, row.s_loss_count)
              }
            },*/
            {
              "title":"勝率",
              "data": "profit_rate"
            },
            {
              "title":"平均ポジション保有期間",
              "data": "total_position_period"
            }
          ];
          _tbl_kessai_detail_ =  RpaDataTable.create_simple_table('#tbl_kessai_detail', {
              data: kessai_datas,
              columns: disp_columns,
              columnDefs:[
                {"targets":1, "className": "numcol text-right"},
                {"targets":2, "className": "numcol text-right"},
                {"targets":3, "className": "numcol text-right"},
                {"targets":4, "className": "numcol text-right"},
                {"targets":5, "className": "numcol text-right"},
              ]
        });
          //position_period/
    }

    function create_done_quantity(start, end) {
      var url = "api/done/koza/-/-/{0}/{1}".format(start, end);
      axios.defaults.xsrfCookieName = 'csrftoken';
      axios.defaults.xsrfHeaderName = 'X-CSRFToken';
      csrfToken = '{% csrf_token %}';

      // グラフデータ取得
      get_axios().post(url, {
        headers: {"X-CSRFToken": csrfToken},
        data: {"client_id": client_id}
      }).then(response => {
        if(response.data.length == 0) {
          $("#done_quantity_nodata").css('display','block');
          $("#done_quantity").css('display','none');
          $("#done_quantity_loading").css('display','none');
          return;
        }

        var labels=createLabels(response.data);
        var datas=createDatas(response.data);
        // editDatas(datas);
        datas_org = $.extend(true, [], datas);

        var chartDatas = createChartData(labels, datas);
        var optionsFlag = false;
        if(response.data.length > 10) {
          var optionsFlag = true;
        }
        var options = createOptions(optionsFlag);

        if(chart_done_quantity != undefined) {
          chart_done_quantity.destroy();
        }
        $('#done_quantity_loading').css("display", "none");
        $('#done_quantity_nodata').css("display", "none");
        $('#done_quantity').css("display", "block");

        var done_quantity = $("#done_quantity");
        chart_done_quantity = new Chart(done_quantity, {
          type: 'bar',
          data: chartDatas,
          options: options
        });
      })
      .catch(err => {
        alert(err);
        return;
      });

    }

    function createChartData(labels, datas) {
      var dataset = [{
          fontColor: 'black',
          data: datas,
          backgroundColor: Chart.helpers.color(window.chartColors.blue).alpha(0.5).rgbString(),
          borderColor: window.chartColors.blue,
      }];
      var ret = {
        labels: labels,
        datasets: datas
      }
      return ret;
    }

    function createLabels(data) {
      var ret = new Array();
      for(var i = 0; i < data.length; i++) {
        ret.push(data[i].ymd.format_as_mmdd_with_slash());
      }
      return ret
    }

    function createDatas(datas) {
      var datasets = []
      var dataset = {}
      dataset.data = [];
      if(datas.length > 0 ) {
        dataset.label = '日別約定数量合計';
        dataset.backgroundColor = window.chartColors.blue;
        for(var i = 0; i < datas.length; i++) {
          dataset.data.push(parseInt(datas[i].quantity, 10));
        }
        datasets.push(dataset);
      }
      return datasets;
    }

    function create_kesai(start, end) {
      var url = "api/kessai/{0}/{1}/{2}".format($("#client_id").val(), start, end);
      get_api(url).get(datas => {

        _.each(datas, item => {
          item.b_count = parseInt(item.b_count);
          item.s_count = parseInt(item.s_count);
          item.b_profit_count = parseInt(item.b_profit_count);
          item.s_profit_count = parseInt(item.s_profit_count);
          item.b_loss_count = parseInt(item.b_loss_count);
          item.s_loss_count = parseInt(item.s_loss_count);
          item.b_quantity = parseInt(item.b_quantity);
          item.s_quantity = parseInt(item.s_quantity);
          item.position_period = parseInt(item.position_period);
          item.b_pl = parseFloat(item.b_pl);
          item.s_pl = parseFloat(item.s_pl);
        });

        var kessai_datas = _(datas)
                        .groupBy('ccy_pair_id')
                        .map((objs, key) => ({
                            'ccy_pair_id': key,
                            'b_count': _.sumBy(objs, 'b_count'),
                            's_count': _.sumBy(objs, 's_count'),
                            'b_profit_count': _.sumBy(objs, 'b_profit_count'),
                            's_profit_count': _.sumBy(objs, 's_profit_count'),
                            'b_loss_count': _.sumBy(objs, 'b_loss_count'),
                            's_loss_count': _.sumBy(objs, 's_loss_count'),
                            'b_quantity': _.sumBy(objs, 'b_quantity'),
                            's_quantity': _.sumBy(objs, 's_quantity'),
                            'position_period': _.sumBy(objs, 'position_period'),
                            'b_pl': _.sumBy(objs, 'b_pl'),
                            's_pl': _.sumBy(objs, 's_pl'),
                            'bs_pl': _.sumBy(objs, 's_pl') + _.sumBy(objs, 'b_pl'),
                            }))
                        .value();

        kessai_datas = _.orderBy(kessai_datas, ['bs_pl', 'ccy_pair_id'], ['desc', 'asc']);

        dispKessaiInfo(kessai_datas);

        if(datas.length == 0) {
          if(chart_kessai != undefined) {
            chart_kessai.destroy();
          }
          $('#kessai_nodata').css("display", "block");
          $('#kessai_loading').css("display", "none");
          $('#kessai').css("display", "none");
          return;
        }
        $('#kessai_nodata').css("display", "none");
        $('#kessai').css("display", "block");


        var total_datas = _(datas)
                        .groupBy('ymd')
                        .map((objs, key) => ({
                            'ymd': key,
                            'total': _.sumBy(objs, 'b_pl') + _.sumBy(objs, 's_pl')  }))
                        .value();
        createKessaiChart(total_datas);
      });
  }

    function createKessaiChart(datas) {
      var kessaiLabels = createKessaiLabels(datas);
      var kessaiDatas = createKessaiDatas(datas);
      var kessaiColors = createKessaiColors(datas);
      var chartDatas = createKessaiChartData(kessaiLabels, kessaiDatas, kessaiColors);
      var options = createOptions(false);
      var kessaiObj = $("#kessai");
      if(chart_kessai != undefined) {
        chart_kessai.destroy();
      }
      $('#kessai_loading').css("display", 'none');
      chart_kessai = new Chart(kessaiObj, {
        type: 'bar',
        data: chartDatas,
        options: options
      });
    }

    function createKessaiLabels(datas) {
      var ret = new Array();
      for(var i = 0; i < datas.length; i++) {
        if(datas[i].ymd != undefined) {
          ret.push(datas[i].ymd.format_as_mmdd_with_slash());
        }
      }
      return ret;
    }

    function createKessaiDatas(datas) {
      var ret = new Array();
      for(var i = 0; i < datas.length; i++) {
        if(datas[i].total != undefined) {
          ret.push(datas[i].total);
        }
      }
      return ret;
    }

    function createKessaiColors(datas) {
      var ret = new Array();
      for(var i = 0; i < datas.length; i++) {
        if(datas[i].total < 0) {
          ret.push(new Color('red').alpha(0.7).rgbString());
        } else {
          ret.push(new Color('green').alpha(0.7).rgbString());
        }
      }
      return ret;
    }

    function createKessaiChartData(labels, datas, colors) {
      var dataset = [{
          fontColor: 'black',
          data: datas,
          backgroundColor: colors,
          borderColor: colors,
      }];
      var ret = {
        labels: labels,
        datasets: dataset
      }
      return ret;
    }

    function create_payment(start, end) {
        $("#payment_total").html("0")
        $("#payment_total_in").html("0")
        $("#payment_total_out").html("0")
        $("#payment_total").css({"cssText":""});
        $("#payment_total_in").css({"cssText":""});
        $("#payment_total_out").css({"cssText":""});
        get_api("api/payment/total/{0}/{1}/{2}".format($("#client_id").val(), start, end)).get(response => {
            if(response.length > 0) {
              if ( $("#payment_total").length ) {
                  $("#payment_total").html("￥" + fmoney(response[0]['total'], 0));
                  if(parseInt(response[0]['total'],10) > 0) {
                    $("#payment_total").css({"cssText":"background-color:green !important"});
                  } else {
                    $("#payment_total").css({"cssText":"background-color:red !important"});
                  }
                  $("#payment_total_in").html("￥" + fmoney(response[0]['n_amount'], 0));
                  $("#payment_total_out").html("￥" + fmoney(response[0]['s_amount'], 0));
                  $("#payment_total_out").css({"cssText":"background-color:red !important"});
              }
            }
        });
        var url = "api/payment/{0}/{1}/{2}".format($("#client_id").val(), start, end);
        get_api(url).get(response => {
          if(response.length == 0) {
            if(chart_payment != undefined) {
              chart_payment.destroy();
            }
            $('#payment_nodata').css("display", "block");
            $('#payment_loading').css("display", "none");
            $('#payment').css("display", "none");
            return;
          }
          $('#payment_nodata').css("display", "none");
          $('#payment').css("display", "block");
          createPaymentChart(response);
        });
    }

    function createPaymentChart(datas) {
      var paymentLabels = createPaymentLabels(datas);
      var paymentInDatas = createPaymentInDatas(datas);
      var paymentOutDatas = createPaymentOutDatas(datas);
      var chartDatas = createPaymentChartData(paymentLabels, paymentInDatas, paymentOutDatas);
      var options = createOptions(true);
      var paymentObj = $("#payment");
      if(chart_payment != undefined) {
        chart_payment.destroy();
      }
      $('#payment_loading').css("display", 'none');
      chart_payment = new Chart(paymentObj, {
        type: 'bar',
        data: chartDatas,
        options: options
      });
    }

    function createPaymentLabels(datas) {
      var ret = new Array();
      for(var i = 0; i < datas.length; i++) {
        if(datas[i].ymd != undefined) {
          ret.push(datas[i].ymd.format_as_mmdd_with_slash());
        }
      }
      return ret;
    }

    function createPaymentInDatas(datas) {
      var ret = new Array();
      for(var i = 0; i < datas.length; i++) {
        ret.push(datas[i].n_amount);
      }
      return ret;
    }

    function createPaymentOutDatas(datas) {
      var ret = new Array();
      for(var i = 0; i < datas.length; i++) {
        ret.push(datas[i].s_amount);
      }
      return ret;
    }

    function createPaymentChartData(labels, paymentInDatas, paymentOutDatas) {
      var dataset = [{
        label: '入金',
        fontColor: 'black',
        data: paymentInDatas,
        backgroundColor: new Color('green').alpha(0.7).rgbString(),
        borderColor: new Color('green').alpha(0.7).rgbString(),
      },{
        label: '出金',
        fontColor: 'black',
        data: paymentOutDatas,
        backgroundColor: new Color('red').alpha(0.7).rgbString(),
        borderColor: new Color('red').alpha(0.7).rgbString(),
      }];
      var ret = {
        labels: labels,
        datasets: dataset
      }
      return ret;
    }

    function create_deposit(start, end) {
        $("#desposit_yotei_margin").html("0");
        $("#desposit_vl_amount").html("0");
        $("#shisan_vl_amount").html("0");

        $('#deposit_yotei_margin_endday').html(end);
        $('#deposit_vl_amount_endday').html(end);
        $('#shisan_vl_amount_endday').html(end);

        get_api("api/deposit/koza/{0}/{1}/{2}".format($("#client_id").val(), start, end)).get(datas => {
          if(datas.length > 0) {
              var end_day_data = datas[datas.length-1];
              $("#desposit_yotei_margin").html("￥" + fmoney(end_day_data['yotei_margin'], 0));
              set_label_class("#desposit_yotei_margin", end_day_data['yotei_margin']);
              $("#desposit_vl_amount").html("￥" + fmoney(end_day_data['vl_amount'], 0));
              set_label_class("#desposit_vl_amount", end_day_data['vl_amount']);

              shisan_vl_amount = parseFloat(end_day_data['yotei_margin']) + parseFloat(end_day_data['vl_amount']);
              $("#shisan_vl_amount").html("￥" + fmoney(shisan_vl_amount, 0));
              set_label_class("#shisan_vl_amount", shisan_vl_amount);
              {% if perms.app.view_deposit %}
              create_deposit_yoteimargin_chart(datas);
              {% endif %}
              {% if perms.app.view_kessai %}
              create_deposit_vlamount_chart(datas);
              {% endif %}
          } else {
              $("#desposit_yotei_margin").html("0");
              $("#desposit_vl_amount").html("0");
              $('#chart_desposit_yotei_margin_loading').css("display", 'none');
              $('#chart_desposit_yotei_margin_nodata').css("display", 'inline');
              $('#chart_desposit_vl_amount_loading').css("display", 'none');
              $('#chart_desposit_vl_amount_nodata').css("display", 'inline');
          }
        });
    }

    var _desposit_yotei_margin_chart = null;
    function create_deposit_yoteimargin_chart(datas) {
        var ym_datas = [];
        var labels = [];
        for(var i = 0; i < datas.length; i++) {
          if( Math.floor(Math.abs(datas[i].yotei_margin)) == 0 ) continue;
          ym_datas.push(datas[i].yotei_margin);
          labels.push(datas[i].ymd.format_as_mmdd_with_slash());
        }
        var colors = new Array();
        for(var i = 0; i < ym_datas.length; i++) {
          if(ym_datas[i] < 0) {
            colors.push(new Color('red').alpha(0.7).rgbString());
          } else {
            colors.push(new Color('green').alpha(0.7).rgbString());
          }
        }
        var dataset = [{
            fontColor: 'black',
            data: ym_datas,
            backgroundColor: colors,
            borderColor: colors,
        }];
        var options = createOptions(false);
        if(_desposit_yotei_margin_chart != undefined) {
          _desposit_yotei_margin_chart.destroy();
        }
        $('#chart_desposit_yotei_margin_loading').css("display", 'none');
        if ( ym_datas.length === 0 ) {
            $('#chart_desposit_yotei_margin_nodata').css("display", 'inline');
        } else {
          _desposit_yotei_margin_chart = new Chart($("#chart_desposit_yotei_margin"), {
            type: 'bar',
            data: {
              labels: labels,
              datasets: dataset
            },
            options: options
          });
        }
    }

    var _desposit_vlamount_chart = null;
    function create_deposit_vlamount_chart(datas) {
        var ym_datas = [];
        var labels = [];
        for(var i = 0; i < datas.length; i++) {
          if( Math.floor(Math.abs(datas[i].vl_amount)) == 0 ) continue;
          ym_datas.push(datas[i].vl_amount);
          labels.push(datas[i].ymd.format_as_mmdd_with_slash());
        }
        var colors = new Array();
        for(var i = 0; i < ym_datas.length; i++) {
          if(ym_datas[i] < 0) {
            colors.push(new Color('red').alpha(0.7).rgbString());
          } else {
            colors.push(new Color('green').alpha(0.7).rgbString());
          }
        }
        var dataset = [{
            fontColor: 'black',
            data: ym_datas,
            backgroundColor: colors,
            borderColor: colors,
        }];
        var options = createOptions(false);
        if(_desposit_vlamount_chart != undefined) {
          _desposit_vlamount_chart.destroy();
        }

        $('#chart_desposit_vl_amount_loading').css("display", 'none');
        if ( ym_datas.length === 0 ) {
            $('#chart_desposit_vl_amount_nodata').css("display", 'inline');
        } else {
          _desposit_vlamount_chart = new Chart($("#chart_desposit_vl_amount"), {
            type: 'bar',
            data: {
              labels: labels,
              datasets: dataset
            },
            options: options
          });
        }
    }

    function create_position (start, end) {
      $('#position_message').html('<h3>Loading...</h3>')
      $('#position_message').css("display", 'inline');
      get_api("api/position/koza/{0}/{1}/{2}".format($("#client_id").val(), start, end)).get(datas => {
          if(datas.length > 0) {
            create_position_chart(datas);
            $('#position_message').css("display", 'none');
          } else {
            $('#position_message').html('<h3>データなし</h3>')
            $('#position_message').css("display", 'inline');
          }
        });
    }

    var _chart_position = null;
    function create_position_chart(datas) {
        if(_chart_position != undefined) {
          _chart_position.destroy();
        }
        var ym_datas = [];
        var labels = [];
        var b_datas = [];
        var s_datas = [];
        for(var i = 0; i < datas.length; i++) {
          if(datas[i].ymd != undefined) {
            labels.push(datas[i].ymd.format_as_mmdd_with_slash());
          }
          b_datas.push(datas[i].b_quantity);
          s_datas.push(datas[i].s_quantity);
        }
        var chart_datas = {
          labels: labels,
          datasets:  [{
                        label: '買',
                        fontColor: 'black',
                        data: b_datas,
                        backgroundColor: new Color('green').alpha(0.7).rgbString(),
                        borderColor: new Color('green').alpha(0.7).rgbString(),
                      },{
                        label: '売',
                        fontColor: 'black',
                        data: s_datas,
                        backgroundColor: new Color('red').alpha(0.7).rgbString(),
                        borderColor: new Color('red').alpha(0.7).rgbString(),
                      }]
        };
        _chart_position = new Chart($("#position"), {
          type: 'bar',
          data: chart_datas,
          options: createOptions(true)
      });
    }
    function createOptions(legend) {
      var ret = {
          layout:{
            padding:{
              top : 15,
              bottom: 5
            }
          },
          legend: {
              display: legend
          },
          scales: {
            xAxes: [{
              display: true,
              ticks: {
                fontColor: 'black',
                beginAtZero:true,
                callback: function(value, index, values) {
                    return value;
                }
              },
              maxBarThickness: 40,
              stacked: true,
            }
          ],
            yAxes: [{
              display: true,
              ticks: {
                fontColor: 'black',
                callback: function(value, index, values) {
                  return fmoney(value, 0 );
                }
              },
              stacked: true,
            }]
          },
          hover: {animationDuration: 0},
          maintainAspectRatio: false,
          tooltips: {
            mode: 'index',
            intersect: true,
            itemSort: function(a, b) { return b.datasetIndex - a.datasetIndex },
            callbacks: {
                label: function (tooltipItem, data){
                    var vl = tooltipItem.yLabel;
                    vl = parseFloat(vl);
                    return fmoney(vl, 0);
                }
            }
        }
      }
      return ret;
    }
</script>
{% endblock scripts %}
